@{
}
<ul>
    @foreach (var car in ViewBag.cars)
    {
        <li>
            <h3>Name: @car.Name</h3>
            <img src="@car.Url" alt="@car.Name">
            <p>@car.Title</p>
            <p>@car.Description</p>
            <p>Price: @car.Price</p>
        </li>
    }
</ul>