@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
    string activeOrEmpty = "active";
}

<div class="text-center">
    <h1 class="mb-5">Welcome to the car shop</h1>    
    <section class="mb-5">
        <h2 class="text-start px-3">TOP SALE CARS</h2>
        <div id="carouseTopSale" class="carousel carousel-dark slide px-3">
            <div class="carousel-indicators">
                @for (int i = 0; i < Model.TopSaleCars?.Count(); i++)
                {
                    <button type="button" class="@activeOrEmpty my-3" data-bs-target="#carouseTopSale" data-bs-slide-to="@i" aria-label="Slide @i+1"></button>
                    activeOrEmpty = "";
                }
            </div>
            <div class="carousel-inner">
                @if(Model.TopSaleCars?.Count() > 0)
                {
                    activeOrEmpty = "active";
                    @foreach (Car car in Model.TopSaleCars)
                    {
                        <div class="carousel-item @activeOrEmpty" data-bs-interval="10000">
                            <img src="@car.Url" class="d-block w-100" alt="@car.Name" style="height:50vh">
                            <div class="carousel-caption d-none d-md-block bg-dark text-white bg-opacity-50 rounded-3">
                                <h5>@car.Name</h5>
                                <p>@car.ShortDesc</p>
                                <a asp-controller="Cars" asp-action="CarDetails" asp-route-id="@car.Id" class="btn btn-secondary mb-4">More details</a>
                            </div>
                        </div>
                        activeOrEmpty = "";
                    }
                }                               
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouseTopSale" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouseTopSale" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <section class="mb-5">
        <h2 class="text-start px-3">SALE</h2>
        <div class="d-flex text-center flex-wrap">
            @if(Model.DiscountCars?.Count() > 0)
            {
                @foreach (Car car in Model.DiscountCars)
                {
                    await Html.RenderPartialAsync("_CarCard", car);
                }
            }
        </div>
    </section>
</div>
