@model Car

<div class="col-xxl-4 col-lg-6 col-md-12 p-2">
    <img src="@Model.Url" alt="@Model.Name">
    <div class="text-start p-2">
        <h3 class="text-center">@Model.Name</h3>
        <p>@Model.Title</p>
        <p>@Model.ShortDesc</p>
        <p>Price: @Model.Price $</p>
        <a asp-controller="Cars" asp-action="CarDetails" asp-route-id="@Model.Id" class="btn btn-info text-center">More details</a>
    </div>
</div>